header {
    text-decoration: underline;
}

/*attribute selectors*/
body {
    background-color: rgba(27, 27, 50, 0.8);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a[h1] {
    color: white;
}

a[href="https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors"], [href="https://developer.mozilla.org/en-US/docs/Web/CSS/Class_selectors"] {
    color: burlywood;
    font-size: 2em;
    font-style: italic;
}

/*nav*/
.nav {
    border: 2px solid antiquewhite;
    padding: 10px;
}

a[href="#attribute-selectors"] {
    color: antiquewhite;
}

a[href="#class-selectors"] {
    color: antiquewhite;
}

/*class selectors*/
.li-line {
    color: burlywood;
    margin:0 0 10px 0;
}
