/*attribute selectors*/
body {
    background-color: rgba(27, 27, 50, 0.8);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a[title] [h1] {
    color: white;
}

a[href="https://developer.mozilla.org/en-US/docs/Web/CSS/Attribute_selectors"] {
    color: burlywood;
    font-size: 2em;
    font-style: italic;
    padding: 1%;
}

